<!-- Footer -->
<footer id="footer">
  <ul class="copyright">
    <li>&copy; {% assign thisyear = site.time | date: "%Y" %}
    {% if site.first_published %}
      {% capture diff %}{{ site.first_published | minus:thisyear }}{% endcapture %}
      {% if diff contains '-' %}{{ site.first_published }},{% endif %}
    {% endif %}
    {{ thisyear }}
    {% if site.owner %}{{ site.owner }}{% else %}{{ site.title }}{% endif %}</li>
    <li>Design: <a href="http://zhenglyu.com" target="_blank">Zheng Lyu</a></li>
    <li>Built by: <a href="http://cqbrother.com" target="_blank">和稷律峰</a></li>
  </ul>
</footer>
